<h1> Ingredients </h1>

<h2> Add New Ingredient </h2>
<div id = "new">
	<form id = "newIngredient" action ="addIngredient" method = "POST">
			Ingredient: <input type ="text" id="name">
			Price: $<input type ="text" id = "price">
			<input type="submit" class="submit" value="Add"
	</form>
</div>


<h2> Ingredients in stock </h2>
<div id = "in">
	{{#each inStock}}
		<form class = "inStock" id = {{this.__id}} action = "markOutOfStock" method = "POST">
			<span>{{this.name}} = ${{this.price}}</span>
			<input type="button" class="edit" value="Edit">
			<input type = "submit" class="submit" value = "Out of stock">
		</form>
	{{/each}}
</div>

<h2> Ingredients out of stock </h2>
<div id = "out">
	{{#each outofStock}}
		<form class = "outofStock" id = {{this.__id}} action = "markInStock" method = "POST">
			<span>{{this.name}} = ${{this.price}} </span>
			<input type = "button" class = "edit" value ="Edit">
			<input type = "submit" class = "submit" value ="Back in stock"
		</form>
	{{/each}}
</div>